@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="cover-heading custom-text">Welcome to Prello Application</h1>
    <p class="lead"> Prello is a project management web application to keep track of your projects and clients.  </p>
</div>
